@page
@model WebApplication1.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Pages/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <link rel="stylesheet" type="text/css" href="~/css/Menu.css" />

}


<form method="POST">
<div class="mainMenu">
    
        @foreach (var stat in Model.Menu)
        {
    <div class="gallery">
       
            <img class="img" src="@Url.Content(stat.Image)" alt="@stat.Image">
        <div class="menuName">@stat.Name - @stat.Price</div>
        <div class="desc">@stat.Description</div>
            <div class="Admin">
                <a asp-page="Admin/Edit" asp-route-id="@stat.ID">Edit</a>
                <button type="submit" asp-page-handler="Delete" asp-route-itemID="@stat.ID">Delete</button>
            </div>
        </div>
        }
   
</div>
</form>

<form method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Picture</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stat in Model.Menu)
            {
                <tr>
                    <td>@stat.Name</td>
                    <td>@stat.Description</td>
                    <td>@stat.Price.ToString("C")</td>
                    <td><img src="@Url.Content(stat.Image)" alt="@stat.Image"/></td>
                    <td>

                        <a asp-page="Admin/Edit" asp-route-id="@stat.ID">Edit</a>
                        <button type="submit" asp-page-handler="Delete" asp-route-itemID="@stat.ID">Delete</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
   
    <h2>Search</h2>

        <div>Search: <input asp-for="Search" /></div>
        <button type="submit" asp-page-handler="Search">Submit</button>
    </form>
